<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="libraryInfo"
          class="com.shubham.model.LibraryInfo">

        <constructor-arg value="Royal Central Library"/>

    </bean>

    <bean id="bookRepository"
          class="com.shubham.repository.BookRepository"/>

    <bean id="bookService"
          class="com.shubham.service.BookService">

        <!-- Constructor Injection -->
        <constructor-arg ref="libraryInfo"/>

        <!-- Setter Injection -->
        <property name="bookRepository"
                  ref="bookRepository"/>

    </bean>

</beans>