body{
    font-family: Arial, Helvetica, sans-serif;
}

.container{

    text-align:center;

    margin-top:60px;

}

button{

    background-color:rgb(103, 230, 103);

    color:black;

    border:1px solid black;

    padding:5px 18px;

    margin-right:10px;

    cursor:pointer;

}

.text{

    margin-right:400px;
    font-size:20px;

}